# bo record template for register outputs
record(bo, "$(P)$(R)") {
    field(DTYP,"asynUInt32Digital")
    field(DOL, "$(INP) CP")
    field(OMSL,"closed_loop")
    field(OUT, "@asynMask($(PORT) $(OFFSET) 0x1)")
}

